@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
}
.box{
    background: rgb(221,145,145);
background: radial-gradient(circle, rgba(221,145,145,1) 0%, rgba(215,124,124,1) 13%, rgba(255,0,0,1) 82%);
}
